.App {
  text-align: center;
  font-family: Jost;
  
}


.stuff{
  display: flex;
}

body{
 
}
.mainMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-position: center;
  width: 100%;
  height: 100vh;
  position:fixed;
}

.mainTitle{
  margin-top: 250px;
  color: white;
}

.mainErrorMsg{
  color:white;
}

.credit{
  margin-top: auto;
  font-weight: 400;
  font-size: 10px;
  color: white;
}
.input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-family: Jost;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 10px;
}

.submit{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: Jost;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color:#342285;
  cursor: pointer;
}

.submit:active {
  
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow:  inset 0px 0px 5px white;
   outline: none;
}
/*--------------------------------------------------------------------------------------------------------*/
.topbar{
  background-color: #342285;
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 15px;
}

.dp{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
}

.profilename{
  color: white;
  font-size: 30px;
  font-family: Jost;
  
}

.medal{
  width: 75px;
}
.close{
  margin-left: auto;
  fill:white;
  cursor: pointer;
  color:white;
}

/*--------------------------------------------------------------------------------------------------------*/

.recentGames{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-right: 0px;
  margin: 30px;
  border: 1px solid black;
  max-height:500px;
  
}

.scrollable{
  margin-top: 5px;
  overflow-y: auto;
  overflow-x: visible;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  height: 30px;
}
.recentGamesTitle{
  flex-shrink: 0;
  width: 300px;
  height: 40px;
  margin-top: 0px;
  padding-top:10px;
  margin-bottom: 0px;
  color: white;
  background-color: rgb(93, 39, 194);
 
}
.matchInfo{
  display: grid;
  grid-template-columns: 40px 60px 80px;
  align-items: center;
  justify-content: center;
}

a { text-decoration: none; 
color: inherit;}
.winText{
  color: green;
  font-weight: 600;
}

.lossText{
  color: red;
  font-weight: 600;
}

/*--------------------------------------------------------------------------------------------------------*/
.winrateTitle{
  width: 100%;
  height: 40px;
  margin-top: 0px;
  padding-top:10px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(93, 39, 194);
 
}
.winrateContainer{
  width: 350px;
  margin: 30px;
  height: 229px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphLine{
  display: flex;
  align-items: center;
  gap: 20px;
}

.wr{
  margin: 0px;
 margin-bottom: 10px;
}

.chart{
  display: flex;
  margin-bottom: -8px;
}
.winRect{
  width: 50px;
  height: 40px;
  background-color: #CBEAC0;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}

.lossRect{
  width: 50px;
  height: 40px;
  background-color: #FF6961;
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*--------------------------------------------------------------------------------------------------------*/

.heroWrContainer{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 30px;

}

.heroWr{
  padding-top: 8px;
  display: grid;
  grid-template-columns: 50px 70px 50px;
  align-items: center;
  justify-content: center;
}

.heroIndWr{
  font-weight: 600;
  font-size: 20px;
  line-height: 10px;
}

.heroWrTitle{
  width: 100%;
  height: 40px;
  margin-top: 0px;
  padding-top:10px;
  margin-bottom: 0px;
  color: white;
  background-color: rgb(93, 39, 194);
}

/*--------------------------------------------------------------------------------------------------------*/

.indStats{
  display: grid;
  align-items: center;
  grid-template-columns: 140px auto;
  margin-left: -10px;
  justify-content: center;
 
}

.stats{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width: 350px;
  margin: 30px;
}
.statsTitle{
  width: 100%;
  height: 40px;
  margin-top: 0px;
  padding-top:10px;
  margin-bottom: 0px;
  color: white;
  background-color: rgb(93, 39, 194);
}

.statName{
  font-weight: 400;
 margin-left: auto;
}



.statsLink{
  align-self: flex-end;
 display: flex;
 align-content: center;
 margin-left: 10px;
 
}

.statsIcon{
  align-self: center;
  margin-left: 10px;
}